.form-content{
    border: 1px solid #45A0A7;
    box-sizing: border-box;
    box-shadow: #45A0A7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width:600px;
}
.form-title{
    font-size: 35px;
    color: #2A414f;
    font-weight: 400;
}
.form-group{
    width: 415px;
    height:35px ;
    margin-bottom: 20px;
}
.submit-btn{
    width: 420px;
    height: 45px;
    background-color: rgba(255, 153, 0, 0.3);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    
}

.sign-up{
    color:#FF9900;
    text-decoration: none;
}
.submit-btn:hover{
    background-color: rgba(255, 153, 0, 0.7);
}